.container {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 900px;
   padding: 35px;
  }

  .title{
    text-align: center;
    border: 3mm ridge rgba(28, 133, 160, 0.6);
  }

  .prog_item {
    position: relative;
    margin-bottom: 20px;
    transform: scale(1);
    box-shadow: 0 0 5px 10px rgba(34, 60, 80, 0.2);
    transition: box-shadow 0.5s, transform 0.5s;
  }

  .prog_item:focus, .prog_item:hover {
    transform: scale(1.05);
    box-shadow: 0 0 8px 15px rgba(34, 60, 80, 0.2);
    transition: box-shadow 0.5s, transform 0.5s;
    
  }

  .img{
    width: 100vh;
    height: 400px;
  }
 
  .link{
    position: absolute;
    right: -30px;
    top: 20px;
    /* bottom: 30px;
    left: 30px; */
    width: 25px;
    height: 25px;
    text-align: center;
 border-radius: 15%;
    background-color: orange;
  }

  .link:hover, .link:focus {
        background-color: blue;
  }
  .link_page{
    position: absolute;
    top: 50px;
    right: -30px;
    width: 25px;
    height: 25px;
    text-align: center;
 border-radius: 15%;
    background-color: orange;
  }

  .link_page:hover, .link_page:focus{
    background-color: blue;
  }
  .icons{
    color: blue;
    size: 2em;
  }