.main{
    position: sticky;
  top: 0px;
  min-height: 100vh;
  width: 299px;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  padding-bottom: 24px;
  background-color: var(--bar-color);
  will-change: width;
  transition: width 350ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 10px;
  z-index: 10;
  text-align: center;
}
.social{
    display: flex;
    justify-content: space-between;
width: 100px;
text-align: center;
margin: 0 auto;
margin-top: 20px;

}

.socal_icon{
   size: 1em;
   
}

.socal_icon:active, .socal_icon:hover {
  
    color: brown;
    background-color: blue;
 }

.button_inf{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 10px;
}
.btn_li{
   width: 150px;
   margin: 0 auto;
   margin-top: 5px;
   
   border: 4mm ridge rgba(50, 192, 220, 0.6);
   box-shadow: 0px 2px 2px -1px #000000, 1px 1px 1px 1px rgba(0,0,0,0);

   text-transform: uppercase;
   font-size: 15px;

}

.btn_li:focus,.btn_li:hover {
    box-shadow: 0px 2px 2px -1px #000000, 1px 1px 1px 1px rgba(0,0,0,0);
    background-color: rgb(217, 200, 16);
}
.btn_li:active{
    box-shadow: 0px 2px 2px -1px #000000, 1px 1px 1px 1px rgba(0,0,0,0);
    background-color: rgb(8, 145, 74);
}

.img{
   
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 10px;
    transform: scale(1);
    box-shadow: 0 0 5px 10px rgba(34, 60, 80, 0.2);
    transition: box-shadow 0.5s, transform 0.5s;
}
.img:focus,.img:hover {
    transform: scale(1.2);
    box-shadow: 0 0 8px 15px rgba(34, 60, 80, 0.2);
    transition: box-shadow 0.5s, transform 0.5s;
}


