.exper{
    margin: 20px;
    padding: 20px;
    box-shadow: 5px 5px 15px 5px #000000;
    
}

.title{
    margin-bottom: 20px;
    font-size: large;
    text-align: center;

}

.item {
    margin-bottom: 30px;
    
}



.img{
    margin: 0 auto;
    width: 80vh;
    top: 0%;
   
box-shadow: 5px 5px 15px 5px #000000;
cursor: pointer;

  }

