.exper{
    margin: 20px;
    padding: 20px;
    box-shadow: 5px 5px 15px 5px #000000;
    height: 100vh;
    /* position: relative; */
}

.img{
    width: 80vh;
    top: 0%;
   
box-shadow: 5px 5px 15px 5px #000000;
cursor: pointer;
position: sticky;
background-attachment: scroll
  }
 
